<!DOCTYPE html>
<html>
<head>
  <title>Swagpg</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav">
		<% if current_user %>
			<%= link_to "#{current_user.name} dashboard", dashboard_path %>&nbsp;
			<%= link_to "Sign Out", signout_path %>.
		<% else %>
			<%= link_to "Sign in with Twitter", signintwitter_path, :class => "btn-auth btn-twitter" %>
			
		<% end %>
</div>
<div class="grater-container content">
	<%= yield %>
</div>

</body>
</html>
